.resetPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.resetPassword__logo{
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.resetPassword__container{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color:white;
    
}

.btn-lg{
    background-color:blue;
    margin-top: 10px;
    margin-bottom: 10px;
}


.resetPassword__container p{
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;
    color: orange;
}

.resetPassword__container > h4 {
    font-weight: 700;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
}
.text-box  {
    color: #000;
}
.resetPassword__container > form > input[type=email]  {
    background-color:white;
    border: none;
    border-bottom: 2px solid rgb(29, 14, 241);
    margin-bottom: 5px;
    height: 50px;
    width: 98%;
    outline: none  !important;
    padding-bottom: 5px;
    background-position:right;
    background-repeat: no-repeat;
}

.resetPassword__container > form > input[type=password] {
    background-color:white;
    border: none;
    border-bottom: 2px solid rgb(29, 14, 241);
    margin-bottom: 5px;
    height: 50px;
    width: 98%;
    outline: none  !important;
    padding-bottom: 5px;
    background-position:right;
    background-repeat: no-repeat;
}
.resetPassword__container > form > input::placeholder {
    color: black;
    font-weight: 400;
    background-repeat: no-repeat;
    width: auto;
    height: 30px ;
    padding-left: 50px;
  }
  @media screen and (max-width: 1024px) {
    .resetPassword__container{
      width: 45%;
    }
  }
  @media screen and (max-width: 767px) {
    .resetPassword__container{
     width: auto;
     margin-top: 60px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .resetPassword__container{
        width: auto;
        margin-top: 60px;
       }
  }

 