.Change_Passowrd{
    height: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top:40px;
}
.logo{
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; 

}
.changePassword__container{
    width: 30%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin:0 auto;
    background-color:white;
    
}

.btn-lg{
    background-color:blue;
    margin-top: 10px;
    margin-bottom: 10px;
}


.changePassword__container p{
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;
    color: orange;
}
.update-password-btn {
    text-align: center;
}
.changePassword__container > h4 {
    font-weight: 700;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
    text-align: center;
}
.text-box  {
    color: #000;
}
.changePassword__container > form > input[type=email]  {
    background-color:white;
    border: none;
    border-bottom: 2px solid rgb(29, 14, 241);
    margin-bottom: 5px;
    height: 50px;
    width: 98%;
    outline: none  !important;
    padding-bottom: 5px;
    background-position:right;
    background-repeat: no-repeat;
}

.changePassword__container > form > input[type=password] {
    background-color:white;
    border: none;
    border-bottom: 2px solid rgb(29, 14, 241);
    margin-bottom: 5px;
    height: 50px;
    width: 98%;
    outline: none  !important;
    padding-bottom: 5px;
    background-position:right;
    background-repeat: no-repeat;
}
.changePassword__container > form > input::placeholder {
    color: black;
    font-weight: 400;
    background-repeat: no-repeat;
    width: auto;
    height: 30px ;
    padding-left: 50px;
  }
  .form-check-label{
      font-weight: 600;
  }
  @media screen and (min-width: 1025px) and (max-width:1094px){
    .Change_Passowrd{
        height: 100vh;
      }
  }
  @media screen and (max-width: 1024px) {
    .changePassword__container{
      width: 45%;
    }
    .Change_Passowrd{
        height: 100vh;
      }
  }
  @media screen and (max-width: 767px) {
      .changePassword__container{
          width:auto;
          margin:60px 20px 0;
      }
      .Change_Passowrd{
        height: 100vh;
      }
      .changePassword__container > h4 {
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-lg {
        background-color: blue;
        margin-top: 0px;
        margin-bottom: 0px;
    }
  }