@media screen and (max-width: 1024px){
    .modal-main{
        width: 75%!important;
        left: 50%!important;
    }
    }
@media screen and (max-width: 767px){
.modal-main{
    width: 75%!important;
    left: 50%!important;
}
.yes-btn, .no-btn {
    width: 116px!important;
}
}